*{
	padding: 0px;
	margin: 0px;
}
header, nav, section, article, aside, footer, hgroup{
	display: block;
}
html, body{
	height: 100%;
	width: 100%;
	background: repeating-linear-gradient(180deg, rgba(225,225,225,0.08), rgba(225,225,225,0.01) 5px, rgba(115,115,115,0.02) 5px, rgba(115,115,115,0.02) 10px) fixed;
}
@font-face{
	font-family: 'urbe';
	src: url('font/urbe.otf') format('opentype');
}
@font-face{
	font-family: 'SansitaOne';
	src: url('font/SansitaOne.ttf') format('truetype');
}
@font-face{
	font-family: 'Sofia-Regular';
	src: url('font/Sofia-Regular.otf') format('opentype');
}
a:link{ text-decoration: none; letter-spacing: 0.05em;}
body #big_wrapper{
	display: block;
	margin: 0px auto; /*Opera center fix*/
	max-width: 1000px;
}
header.home-bar{
	width: 100%;
	height: 60px;
	margin-top: 5px;
	border-radius: 0px 0px 10px 10px;
	border: 1px solid rgba(0,0,0,0.5);    
	border-radius: 2px 2px 12px 12px;    
	background: rgba(80,80,80,0.25);    
	box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);    
}
header.home-bar h1{
	float: left;
	margin: 5px 20px auto; /*top right/left bottom*/
	color: black;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	font: 50px 'urbe', Arial, sans-serif;
}
nav.menu-bar{
	float: right;
	margin: 20px 15px auto; /* top right/left bottom*/
	width: 300px;
	text-align: center;
}
nav.menu-bar ul{
	padding: 10px 0px;
}
nav.menu-bar ul li{
	display: inline-block;
}
nav.menu-bar ul li a{
	padding: 3px;
	list-style: none;
	text-decoration: none;
	color: black;
	font: 1.1em SansitaOne, Arial;
	letter-spacing: 1px;
	text-shadow:0px 0px 2px white;	/*background: rgba(252, 252, 252, 0.3);*/
}
nav.menu-bar ul li a#whoami{
	color: #777;
	font: 1.1em SansitaOne, Arial;
	letter-spacing: 1px;
	text-shadow: 0px 0px 2px white;
}
nav.menu-bar ul li a#projects{
	color: #777;
	font: 1.1em SansitaOne, Arial;
	letter-spacing: 1px;
	text-shadow: 0px 0px 2px white;
}
nav.menu-bar ul li a#contact{
	color: #777;
	font: 1.1em SansitaOne, Arial;
	letter-spacing: 1px;
	text-shadow: 0px 0px 2px white;
}
.div_middle{
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	margin-top: 15px; /*top left/right bottom*/
	border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px 10px 2px 2px;
    background: rgba(80,80,80,0.25);
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}

section.home-content{ /*in 'whoami.html'-> open as 'index.html'*/
	margin-top: 15px;
	height: 540px;
}
section.home-content h1, hgroup.supporters h1{
	color: rgba(0,0,0, 0.9);
	font-family: Arial, Sans-serif;
	font-size: 0.9em;
	text-shadow: 1px 1px 0px white;
	margin-left: 5px;
}
article.technologies{
	color: white;
	font-family: Arial, Sans-serif;
	margin-left: 15px;
}
article.technologies #set{ /*form inside parent class*/
	margin: 5px auto 5px;
}
article.technologies #set h1{ /*Title*/
	color: rgb(224, 108, 31); /*color: Orange*/
	margin: 0px 0px 0px 5px;
	font-size: 1.1em;
	text-shadow: 1px 1px 1px black;
	letter-spacing: 0.02em;
}
article.technologies  #set h2{ /*Type of skill*/
	margin-left: 10px; /*top right bottom left*/
	font-style: italic;
	font-size: 1em;
	text-shadow: 1px 1px 1px black;
}
article.technologies #set p{ /*Listing*/
	margin-left: 15px;
	font-size: 0.8em;
	letter-spacing: 1px;
	color: black;
	text-shadow: 1px 1px 1px white;
}
hgroup.supporters > h2{
	color: white;
	font-family: Arial, Sans-serif;
	display: inline-block;
	margin-left: 15px;
	font-size: 0.8em;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px black;
}

section.projects-content{ /*in 'projects.html'*/
	display: inline-block;
	margin-top: 10px;
}
section.projects-content h1{
	margin: 15px auto 0px;
	color: black;
	text-align: center;
	font: 1.3em SansitaOne, Arial;
	text-shadow: 1px 1px 3px rgb(56, 56, 56);
}
.proje-box{ /*Describe image container*/
	display: inline-block;
	border: 1px solid grey;
	background: rgba(130, 130, 130, .6);
	border-radius: 5px;
	width: 460px;
	max-height: 465px;
	margin: 10px 15px 10px;
	font: 12px Tahoma;
	/*TODO: Implement word wrap for aligning container to text, equal height*/
}
.proje-box img#proje-box-image{
	width: 440px;
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
	background: rgba(45, 47, 61, .4);	
}
.proje-box section#overview{
	display: block-inline;
	width: 440px;
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
	background: rgba(45, 47, 61, .4);
}
.proje-box section#overview h2{
	color: rgb(224, 108, 31); /*Orange*/
	text-shadow: 1px 1px 2px black;
	font: 1.5em SansitaOne;
}
.proje-box section#overview h3{
	color: white;
	font-style: italic;
	letter-spacing: 0.09em;
	text-shadow: 1px 1px 1px black;
}
.proje-box section#overview #abstract{
	color: black;
	text-align: justify;
}
section.contact-content{ /*in 'contact.html'*/
	display: inline-block;
	margin: 170px auto 230px;
	width: 100%;
	text-align: center;
}
article#contacts{
	display: inline-block; /*enables setting fixed values for width and height*/
	width: 600px;
	height: 150px;
	border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px 10px 2px 2px;
    background: rgba(0,0,0,0.7);
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}
article#contacts ul{
	display: inline-block;
	text-align: center;
	list-style: none;
	margin-top: 40px;
}
article#contacts li{
	display: inline-block;
	padding-right: 10px;
}
article#contacts li a{
	list-style: none;
}
article#contacts p{
	margin-top: 5px;
	text-align: center;
	color: black;
	font: 1.2em SansitaOne, Arial;
	letter-spacing: 0.07em;
	text-shadow: 0px 0px 3px white;
}
footer.bottom{
	margin-top: 20px;
	text-align: center;
	font: 12px Tahoma;
}

